* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #062b3d;
    color: #ffffff;
}


header h1 {
    display: inline-block;
    font-size: 55px;
}

header h1 .Ac {
    color: #dfe0d5;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}


header nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: underline;

}

nav ul li a:hover {
    color: coral;

}

p {
    font-size: 22px;
}


figure {
    display: flex;
    flex: wrap;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 5px;
    background-image: url("../images/Everest.jpeg");
    background-size: 100%;
}

figure img {
    height: 200px;
    width: 200px;

}

figure p {
    color: aliceblue;
    margin-top: 140px;
    margin-right: 15px;
    font-size: 40px;
    padding-left: 20px;
    background-color: #062b3d;  
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 25px;
    width: 100%;
    height: 100%;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
    height: 300px;
    padding: 20px;
    font-size: 200%;
    background-color: #062b3d;
    color: white;    
    border-right: 2px solid black;
    border-radius: 10px;

}

.container11 {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px;
    height: 300px;
    width: 85%;
    
}

.container21 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    width: 15%;
    height: 450px;
    font-size: 200%;
    background-color: #062b3d;
    color: white;
    border-right: 2px solid black;
    border-radius: 10px;
}

.container22 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 85%;
    height: 450px;
}


.coopedup {
    width: 100%;
    height: 380px;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
}

.codequiz {
    width: 100%;
    height: 250px;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;

}

.weatherdash {
    width: 100%;
    height: 250px;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;


}

.project {
    display: inline-block   ;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: #616b75;
    color: white;
       
}

h3 {
    display: flex;
    flex-wrap: wrap;
    font-size: 125%;
    padding: 20px;
    text-decoration: underline;
    text-align: center;
}

#contact-me {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    width: 200px;
    height: 100px;
    padding-right: 20px;
    font-size: 200%;
    background-color: #062b3d;
    color: white;
    border-right: 2px solid black;
    border-radius: 10px;

}

.list {
    display:flex;
    flex-wrap: wrap;
    flex: 2;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 20px;
    margin-left: 20px;
    padding-left: 30px;
    background-color: #616b75;
    color: white;
    border-radius: 10px;
    height: 100px;
}

.list li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
    padding-right: 30px;
}

.social {
    width: 50px;
    height: 50px;
}

.footlink {
    margin-top: 30px;
    font-size: 20px;
    color: white;
}

.decor {
    text-decoration: underline;
    margin-left: 5px;
}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
}